

<div class="container text-center">
    <hr class="m-5">
        <h1 class="text-danger m-5">
            {{ mensaje }}
        </h1>
{{!--   <h1 class="text-danger m-5">
            {{ errores }}
        </h1> --}}
    <hr class="m-5">
</div>

<div class="container text-center">
    <img src="/assets/error.png" alt="imagen del error">
</div>


